.top-banner { width:100%; height:680px; margin:0; padding:0; background-image: url(../imgs/riskMonitorAndWarning/pc/banner.jpg); background-position: center center; background-size: cover; }
.top-banner .container { margin: 0 auto; position: relative; }
.top-banner-content { height:680px; }
.top-banner-title { margin-top: 250px; width:50%; height: 54px; text-align: left; font-size: 36px; color: #FFFFFF; line-height: 54px; }
.top-banner-desc { margin-top: 30px; width:50%; height: auto; font-size: 16px; color: #FFFFFF; text-align: left; line-height: 24px; }
.top-banner-btn { width:50%; height: 40px; margin-top: 50px; text-align: left; }
.top-banner-btn a { width:180px; height: 40px; border: 1px solid #0E85D9; display: block; line-height: 40px; text-align: center; font-size: 14px; color: #FFFFFF; letter-spacing: 0; float: left; margin-right: 20px; }
.top-banner-btn a:hover { background-color: #0E85D9; text-decoration: none; }
.top-banner-btn a.active { background-color: #0E85D9; text-decoration: none; }
.fastNavBar { width:100%; height: 60px; border-bottom: 1px solid #D8D8D8; background-color: #fff; }
.fastNavBar ul { width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; margin: auto; list-style: none; }
.fastNavBar li { float:left; }
.fastNavBar li a { width: auto; height: 60px; line-height: 60px; padding: 0 30px; font-size: 15px; color: #242728; letter-spacing: 0; line-height: 60px; text-decoration: none; display: block; }
.fastNavBar li a:hover { border-bottom: 3px solid #D8D8D8; text-decoration: none; }
.sec1 { /*  设置参数  */
    height: 541px; background-image: url(../imgs/riskMonitorAndWarning/pc/1/1-bg.png); }
.sec1 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec1 .normal-section-content { /*  设置参数  */
    height:188px; }
.sec1 .normal-section-content ul { width:100%; height: 188px; overflow: hidden; margin: 0; padding: 0; list-style: none; }
.sec1 .normal-section-content li { width:48.75%; height: 188px; overflow: hidden; float: left; background-position: center center; background-size: cover; }
 .sec1 .normal-section-content li:nth-child(1) {
 background-image: url(../imgs/riskMonitorAndWarning/pc/1/1-card.png);
 margin-right: 2.5%;
}
 .sec1 .normal-section-content li:nth-child(2) {
 background-image: url(../imgs/riskMonitorAndWarning/pc/1/1-card.png);
 margin-right: 0;
}
.sec1 .normal-section-content li .nsculli-title { font-size: 24px; color: #FFFFFF; letter-spacing: 0; line-height: 36px; position: relative; width: 87%; text-align: left; height: auto; margin: 30px auto 0 auto; padding-left: 30px; }
.sec1 .normal-section-content li .nsculli-desc { font-size: 14px; color: #FFFFFF; letter-spacing: 0; line-height: 22px; width: 87%; text-align: left; height: auto; margin: 15px auto 0 auto; }
.sec1 .normal-section-content li span { background-position: center center; background-size: cover; width: 20px; height: 20px; position: absolute; left: 0; top: 8px; }
 .sec1 .normal-section-content li:nth-child(1) span {
 background-image: url(../imgs/riskMonitorAndWarning/pc/1/1.png);
}
 .sec1 .normal-section-content li:nth-child(2) span {
 background-image: url(../imgs/riskMonitorAndWarning/pc/1/2.png);
}
.sec2 { /*  设置参数  */
    height: 621px; background-image: url(../imgs/riskMonitorAndWarning/pc/2/2-bg.png); }
.sec2 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec2 .normal-section-content { /*  设置参数  */
    height:244px; margin: 0; padding: 0; }
.sec2 .normal-section-content ul { width:100%; height: 244px; margin: 0; padding: 0; list-style: none; background-color: #fff; }
.sec2 .normal-section-content li { width:25%; height: 244px; float: left; position: relative; }
.sec2 .normal-section-content li:hover > div.hiddenshadow { box-shadow: 0 0 12px 0 rgba(107, 135, 248, 0.50); width:102%; height: 106%; left: -1%; top: -3%; position: absolute; z-index: 2; border-top: 15px solid #fff; border-bottom: 15px solid #fff; border-left: 5px solid #fff; border-right: 5px solid #fff; }
.sec2 .normal-section-content li > span { width:1px; height: 214px; background: #D8D8D8; position: absolute; top: 15px; right: 0; }
.sec2 .normal-section-content li .nsculli-icon { width: 50px; text-align: center; height: 50px; margin: 42px auto 0 auto; }
.sec2 .normal-section-content li .nsculli-icon img { width: 50px; height: 50px; }
.sec2 .normal-section-content li .nsculli-title { font-size: 24px; color: #242728; letter-spacing: 0; line-height: 36px; width: 91.5%; text-align: center; height: auto; margin: 20px auto 0 auto; }
.sec2 .normal-section-content li .nsculli-desc { font-size: 14px; color: #5F696D; letter-spacing: 0; text-align: justify; line-height: 22px; width: 60%; text-align: left; height: auto; margin: 10px auto 0 auto; }
.sec3 { /*  设置参数  */
    height: 745px; background-image: url(../imgs/riskMonitorAndWarning/pc/3/3-bg.png); }
.sec3 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec3 .normal-section-content { /*  设置参数  */
    height:392px; margin: 0; padding: 0; }
.sec3 .normal-section-content ul { width:100%; height: 392px; margin: 0; padding: 0; list-style: none; background-color: #fff; }
.sec3 .normal-section-content ul li { width:16.66%; height: 392px; overflow: hidden; float: left; position: relative; padding: 20px; }
.sec3 .nsc-icon { width:100px; height: 100px; margin: 20px auto 0 auto; }
.sec3 .nsc-keyword { width:90%; height: 36px; margin: 30px auto 0 auto; font-size: 24px; color: #242728; letter-spacing: 0; text-align: center; line-height: 36px; }
.sec3 .nsc-desc { width:83%; height: auto; margin: 10px auto 0 auto; font-size: 14px; color: #5F696D; letter-spacing: 0; text-align: justify; line-height: 22px; }
.sec5 { /*  设置参数  */
    height: 813px; background-image: url(../imgs/riskMonitorAndWarning/pc/4/4-bg.png); }
.sec5 .normal-section-title { /*  设置参数  */
    height:203px; }
.sec5 .normal-section-content { /*  设置参数  */
    height:500px; margin: 0; padding: 0; }
.sec5 .nscfl { width:36%; height: 500px; float: left; }
.sec5 .nscfl .nscfl-title { margin-top: 60px; width:100%; height: auto; font-size: 24px; color: #242728; letter-spacing: 0; line-height: 36px; }
.sec5 .nscfl .nscfl-desc { margin-top: 20px; width:100%; height: auto; font-size: 16px; color: #5F696D; letter-spacing: 0; line-height: 24px; }
.sec5 .nscfl .nscfl-btn { margin-top: 40px; width:100%; height: 40px; text-align: center; }
.sec5 .nscfl .nscfl-btn a { width:180px; height: 40px; margin: 0 auto; border: 1px solid #0E85D9; text-align: center; font-size: 14px; color: #242728; letter-spacing: 0; line-height: 40px; display: block; text-decoration: none; }
.sec5 .nscfl .nscfl-btn a:hover { text-decoration: none; background-color: #0E85D9; color: #fff; }
.sec5 .nscfr { width:60%; height: auto; float: right; box-shadow: 0 0 17px 0 rgba(107, 135, 248, 0.45); }
.sec5 .nscfr img { width:100%; }
.sec6 { /*  设置参数  */
    height: 483px; background-image: url(../imgs/riskMonitorAndWarning/pc/5-bg.png); }
.sec6 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec6 .normal-section-content { /*  设置参数  */
    height:130px; margin: 0; padding: 0; }
.sec6 .nsc-fl { float: left; width:48.9%; height: 130px; background-color:rgba(95, 95, 161, 0.59); padding-left: 20px; padding-top: 30px; padding-right: 20px; }
.sec6 .nsc-fr { float: right; width:48.9%; height: 130px; background-color:rgba(95, 95, 161, 0.59); padding-left: 20px; padding-top: 30px; padding-right: 20px; }
.sec6 .nsc-title { font-size: 18px; color: #FFFFFF; letter-spacing: 0; text-align: center; line-height: 26px; text-align: left; }
.sec6 .nsc-desc { font-size: 14px; color: #FFFFFF; letter-spacing: 0; line-height: 22px; margin-top: 10px; text-align: left; }
