.top-banner { width:100%; height:680px; margin:0; padding:0; background-image: url(../imgs/SMEFinancing/pc/banner.jpg); background-position: center center; background-size: cover; }
.top-banner .container { margin: 0 auto; position: relative; }
.top-banner-content { height:680px; }
.top-banner-title { margin-top: 250px; width:50%; height: 54px; text-align: left; font-size: 36px; color: #FFFFFF; line-height: 54px; }
.top-banner-desc { margin-top: 30px; width:50%; height: auto; font-size: 16px; color: #FFFFFF; text-align: left; line-height: 24px; }
.top-banner-btn { width:50%; height: 40px; margin-top: 50px; text-align: left; }
.top-banner-btn a { width:180px; height: 40px; border: 1px solid #0E85D9; display: block; line-height: 40px; text-align: center; font-size: 14px; color: #FFFFFF; letter-spacing: 0; float: left; margin-right: 20px; }
.top-banner-btn a:hover { background-color: #0E85D9; text-decoration: none; }
.top-banner-btn a.active { background-color: #0E85D9; text-decoration: none; }
.fastNavBar { width:100%; height: 60px; border-bottom: 1px solid #D8D8D8; background-color: #fff; }
.fastNavBar ul { width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; margin: auto; list-style: none; }
.fastNavBar li { float:left; }
.fastNavBar li a { width: auto; height: 60px; line-height: 60px; padding: 0 30px; font-size: 15px; color: #242728; letter-spacing: 0; line-height: 60px; text-decoration: none; display: block; }
.fastNavBar li a:hover { border-bottom: 3px solid #D8D8D8; text-decoration: none; }
.sec1 { /*  设置参数  */
    height: 547px; background-image: url(../imgs/SMEFinancing/pc/1/1-bg.png); }
.sec1 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec1 .normal-section-content { /*  设置参数  */
    height:194px; }
.sec1 .normal-section-content ul { width:100%; height: 194px; overflow: hidden; margin: 0; padding: 0; list-style: none; }
.sec1 .normal-section-content li { width:22.9%; height: 194px; overflow: hidden; float: left; background-image: url(../imgs/SMEFinancing/pc/1/bg.png); background-position: center center; background-size: cover; }
 .sec1 .normal-section-content li:nth-child(1) {
 margin-right: 2.8%;
}
 .sec1 .normal-section-content li:nth-child(2) {
 margin-right: 2.8%;
}
 .sec1 .normal-section-content li:nth-child(3) {
 margin-right: 2.8%;
}
 .sec1 .normal-section-content li:nth-child(4) {
 margin-right: 0;
}
.sec1 .normal-section-content li .nsculli-title { font-size: 24px; color: #FFFFFF; letter-spacing: 0; line-height: 36px; position: relative; width: 82%; text-align: left; height: auto; margin: 30px auto 0 auto; padding-left: 30px; }
.sec1 .normal-section-content li .nsculli-desc { font-size: 16px; color: #FFFFFF; letter-spacing: 0; line-height: 24px; width: 82%; text-align: left; height: auto; margin: 20px auto 0 auto; }
.sec1 .normal-section-content li span { background-position: center center; background-size: cover; width: 20px; height: 20px; position: absolute; left: 0; top: 8px; }
 .sec1 .normal-section-content li:nth-child(1) span {
 background-image: url(../imgs/SMEFinancing/pc/1/icon/1.png);
}
 .sec1 .normal-section-content li:nth-child(2) span {
 background-image: url(../imgs/SMEFinancing/pc/1/icon/2.png);
}
 .sec1 .normal-section-content li:nth-child(3) span {
 background-image: url(../imgs/SMEFinancing/pc/1/icon/3.png);
}
 .sec1 .normal-section-content li:nth-child(4) span {
 background-image: url(../imgs/SMEFinancing/pc/1/icon/4.png);
}
.sec2 { /*  设置参数  */
    height: 685px; background-image: url(../imgs/SMEFinancing/pc/2/2-bg.jpg); }
.sec2 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec2 .normal-section-content { /*  设置参数  */
    height:308px; margin: 0; padding: 0; }
.sec2 .normal-section-content ul { width:100%; height: 308px; margin: 0; padding: 0; list-style: none; background-color: #fff; }
.sec2 .normal-section-content li { width:25%; height: 308px; float: left; position: relative; }
.sec2 .normal-section-content li:hover > div.hiddenshadow { box-shadow: 0 0 12px 0 rgba(107, 135, 248, 0.50); width:102%; height: 106%; left: -1%; top: -3%; position: absolute; z-index: 2; border-top: 15px solid #fff; border-bottom: 15px solid #fff; border-left: 5px solid #fff; border-right: 5px solid #fff; }
.sec2 .normal-section-content li > span { width:1px; height: 248px; background: #D8D8D8; position: absolute; top: 15px; right: 0; }
.sec2 .normal-section-content li .nsculli-icon { width: 50px; text-align: center; height: 50px; margin: 30px auto 0 auto; }
.sec2 .normal-section-content li .nsculli-icon img { width: 50px; height: 50px; }
.sec2 .normal-section-content li .nsculli-title { font-size: 24px; color: #242728; letter-spacing: 0; line-height: 36px; width: 91.5%; text-align: center; height: auto; margin: 20px auto 0 auto; }
.sec2 .normal-section-content li .nsculli-desc { font-size: 14px; color: #5F696D; letter-spacing: 0; text-align: justify; line-height: 22px; width: 91.5%; text-align: left; height: auto; margin: 10px auto 0 auto; }
.sec3 { /*  设置参数  */
    height: 793px; background-image: url(../imgs/SMEFinancing/pc/3/3-bg.png); }
.sec3 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec3 .normal-section-content { /*  设置参数  */
    height:500px; margin: 0; padding: 0; }
.sec3 .normal-section-content ul { width:100%; height: 392px; margin: 0; padding: 0; list-style: none; background-color: #fff; }
.sec3 .normal-section-content ul li { width:14.9%; height: 392px; overflow: hidden; float: left; position: relative; padding: 20px; }
 .sec3 .normal-section-content ul li:nth-child(1) {
 margin-right: 2.1%;
}
 .sec3 .normal-section-content ul li:nth-child(2) {
 margin-right: 2.1%;
}
 .sec3 .normal-section-content ul li:nth-child(3) {
 margin-right: 2.1%;
}
 .sec3 .normal-section-content ul li:nth-child(4) {
 margin-right: 2.1%;
}
 .sec3 .normal-section-content ul li:nth-child(5) {
 margin-right: 2.1%;
}
 .sec3 .normal-section-content ul li:nth-child(6) {
 margin-right: 0%;
}
.sec3 .nsc-icon { width:100px; height: 100px; margin: 20px auto 0 auto; }
.sec3 .nsc-keyword { width:100%; height: 36px; margin: 20px auto 0 auto; font-size: 24px; color: #242728; letter-spacing: 0; text-align: center; line-height: 36px; }
.sec3 .nsc-desc { width:100%; height: auto; margin: 10px auto 0 auto; font-size: 14px; color: #5F696D; letter-spacing: 0; text-align: justify; line-height: 22px; }
.sec3 .nsc-step { width: 100%; height: 32px; font-size: 16px; color: #4C4C4C; letter-spacing: 0; }
.sec3 .nsc-step-l { width: 65.9%; height: 32px; font-size: 16px; color: #4C4C4C; letter-spacing: 0; float: left; border-bottom: 2px solid #1F6AD4; text-align: center; }
.sec3 .nsc-step-r { width: 31.9%; height: 32px; font-size: 16px; color: #4C4C4C; letter-spacing: 0; float: right; border-bottom: 2px solid #1F6AD4; text-align: center; }
.sec4 { /*  设置参数  */
    height: 809px; background-image: url(../imgs/SMEFinancing/pc/4/4-bg.png); }
.sec4 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec4 .normal-section-content { /*  设置参数  */
    height:456px; margin: 0; padding: 0; }
.sec4 .nsc-kh { width: 100%; height: 208px; background-color: #fff; overflow: hidden; }
 .sec4 .nsc-kh:nth-child(2) {
 margin-top: 40px;
}
.sec4 .nsc-title { width:100%; height: 28px; text-align: center; font-size: 18px; color: #242728; letter-spacing: 0; line-height: 28px; margin: 40px auto 0 auto; }
.sec4 .nsc-ul { width:100%; height: 40px; text-align: center; margin: 50px auto 0 auto; padding: 0; list-style: none; }
.sec4 .nsc-ul li { width: 22.9%; height: 40px; float: left; }
.sec4 .nsc-ul li img { width: 100%; }
 .sec4 .nsc-ul li:nth-child(1) {
margin-right: 2.8%;
}
 .sec4 .nsc-ul li:nth-child(2) {
margin-right: 2.8%;
}
 .sec4 .nsc-ul li:nth-child(3) {
margin-right: 2.8%;
}
 .sec4 .nsc-ul li:nth-child(4) {
margin-right: 0%;
}
.sec5 { /*  设置参数  */
    height: 479px; background-image: url(../imgs/dataRisControl/pc/5/5-bg.png); }
.sec5 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec5 .normal-section-content { /*  设置参数  */
    height:200px; margin: 0; padding: 0; }
.sec5 .nsc-title { width:100%; height: 36px; font-size: 24px; color: #242728; letter-spacing: 0; line-height: 36px; margin: 0 auto; text-align: center; }
.sec5 .nsc-btn { width:100%; height: 40px; margin: 50px auto 0 auto; text-align: center; }
.sec5 .nsc-btn a { width:180px; height: 40px; font-size: 14px; color: #242728; letter-spacing: 0; line-height: 40px; border: 1px solid #0E85D9; text-decoration: none; display: block; text-align: center; margin: 0 auto; }
.sec5 .nsc-btn a:hover { background-color: #0E85D9; text-decoration: none; }
.sec6 { /*  设置参数  */
    height: 655px; background-image: url(../imgs/SMEFinancing/pc/6-bg.png); }
.sec6 .normal-section-title { /*  设置参数  */
    height:243px; }
.sec6 .normal-section-content { /*  设置参数  */
    height:302px; margin: 0; padding: 0; }
.sec6 .nsc-fl { float: left; width:48.9%; height: 302px; background-color:rgba(95, 95, 161, 0.59); padding-left: 20px; padding-top: 30px; padding-right: 20px; }
.sec6 .nsc-fr { float: right; width:48.9%; height: 302px; background-color:rgba(95, 95, 161, 0.59); padding-left: 20px; padding-top: 30px; padding-right: 20px; }
.sec6 .nsc-title { font-size: 18px; color: #FFFFFF; letter-spacing: 0; text-align: center; line-height: 26px; text-align: left; }
.sec6 .nsc-desc { font-size: 14px; color: #FFFFFF; letter-spacing: 0; line-height: 22px; margin-top: 10px; text-align: left; }
